@using PhoneTipProject.Utilities.ExtensionMethods;
@model IEnumerable<PhoneTipProject.ViewModels.PageCommentsViewModel>

@{
    ViewBag.Title = "کامنت کاربران";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

<h2>کنترل کامنت کاربران</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageTitel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CommentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageTitel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            <a class="btn btn-sm btn-danger" data-toggle="bottom" title="حذف"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}

</table>
