@using PhoneTipProject.Utilities.ExtensionMethods;
@model IEnumerable<PhoneTipProject.Models.DataLayer.Pages>
@{
    ViewBag.Title = "Index";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">خانه </a></li>
    <li class="breadcrumb-item" style="color:white;">جستجو</li>
    <li class="breadcrumb-item active" style="color:white;"> @ViewBag.Search </li>
</ul>
<section class="last-news-section border-radius margin-top-40">
    <header><i class="icons icon-doc-2"></i>  <h3>تعداد "@Model.Count()" با  عبارت "@ViewBag.Search" یافت شد .</h3> </header>
    <ul>

        @foreach (var item in Model)
        {
            <li>
                <img class="border-radius" src="@item.ImageUrl">
                <h2> <a href="/News/@item.PageID"> @item.Titel </a></h2>
                <p>
                    @item.ShortDescription
                </p>
                <span class="date-publish"><i class="fa fa-calendar"></i> انتشار : @item.CreateDate.ToShamsi() </span>
                @*<a href="/News/@item.PageID" class="more-link"><i class="icons icon-more"></i></a>*@
            </li>
        }

    </ul>
</section>

