@model PhoneTipProject.Models.DataLayer.Roles

@{
    ViewBag.Title = "Delete";
}


<h3>آیا از حذف @Model.RoleTitel مطمئن هستید؟</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleTitel):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleTitel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleName):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" />
        </div>
    }
</div>
