@model IEnumerable<PhoneTipProject.Models.DataLayer.Roles>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-success" id="btnnewrole">افزودن نقش جدید</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleTitel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleTitel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                <a class="btn btn-sm btn-warning" onclick="btnEdit(@item.RoleID)" data-toggle="bottom" title="ویرایش">
                    <i class="glyphicon glyphicon-edit"></i>
                </a> |
                <a class="btn btn-sm btn-danger" onclick="btnDelete(@item.RoleID)" data-toggle="bottom" title="حذف">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    }

</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body" id="myModalBody">

            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                </div>*@
        </div>
    </div>
</div>
<!--End Modal -->

@section scripts{
    <script src="~/Scripts/modal.js"></script>
    <script type="text/javascript">

        $("#btnnewrole").click(function () {
            $.get("/AdminPanel/Roles/Create", function (result) {

                $("#myModal").modal();
                $("#myModalLabel").html("افزودن  نقش جدید");
                $("#myModalBody").html(result);
            });
        });

        function btnEdit(id) {

            $.get("/AdminPanel/Roles/Edit/" + id, function (result) {
                $("#myModal").modal();
                $("#myModalLabel").html("ویرایش");
                $("#myModalBody").html(result);
            });
        }

        function btnDelete(id) {
            $.get("/AdminPanel/Roles/Delete/" + id, function (result) {
                $("#myModal").modal();
                $("#myModalLabel").html("حذف");
                $("#myModalBody").html(result);
            });
        }

    </script>
}
