@using PhoneTipProject.Utilities.ExtensionMethods;
@model PhoneTipProject.Models.DataLayer.Pages

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>آیا از حذف @Model.Titel مطمئن هستید؟</h3>
<div>
    <h4>حذف خبر</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PagesGroup.GroupTitle):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PagesGroup.GroupTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titel):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visit):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl):
        </dt>

        <dd>
            @if (Model.ImageUrl != null)
            {
                <img src="@Model.ImageUrl" class="thumbnail" style="max-width:150px" />
            }
            else
            {
                <p>تصویری برای این خبر ثبت نشده است</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowInSlider):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowInSlider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate):
        </dt>

        <dd>
            @Model.CreateDate.ToShamsi()
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <a class="btn btn-info" href="/AdminPanel/Pages/Index">بازگشت</a> |
    <input type="submit" value="حذف" class="btn btn-danger" />
</div>
    }
</div>
