@using PhoneTipProject.Utilities.ExtensionMethods;
@model PhoneTipProject.Models.DataLayer.Pages

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>جزئیات خبر</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PagesGroup.GroupTitle):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PagesGroup.GroupTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titel):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text):
        </dt>

        <dd>
            @Html.Raw(Model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visit):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl):
        </dt>

        <dd>
            @if (Model.ImageUrl != null)
            {
                <img src="@Model.ImageUrl" style="max-width:150px;" />
            }
            else
            {
                <p>تصویری برای این خبر ثبت نشده است</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowInSlider):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowInSlider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate):
        </dt>

        <dd>
            @Model.CreateDate.ToShamsi()
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-info" href="/AdminPanel/Pages/Index">بازگشت</a> |
    <a class="btn btn-warning" href="/AdminPanel/Pages/Edit/@Model.PageID">ویرایش</a>
</p>

@section scripts
{
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/ckeditor/adapters/jquery.js"></script>
    <script>
        $(function () {
            $('#Text').ckeditor();
        });
    </script>
}
