@using PhoneTipProject.Utilities.ExtensionMethods;
@model IEnumerable<PhoneTipProject.Models.DataLayer.Pages>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-success" href="/AdminPanel/Pages/Create">افزودن خبر جدید</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PagesGroup.GroupTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowInSlider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.ImageUrl != null)
                {
                    <img src="@item.ImageUrl" class="thumbnail" style="max-width:120px;" />
                }
                else
                {
                    <p>تصویری ثبت نشده است</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PagesGroup.GroupTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowInSlider)
            </td>
            <td>
                @item.CreateDate.ToShamsi()
            </td>
            <td>
                <a class="btn btn-sm btn-info" href="/AdminPanel/Pages/Details/@item.PageID" data-toggle="bottom" title="جزئیات"><i class="glyphicon glyphicon-exclamation-sign"></i></a> |
                <a class="btn btn-sm btn-warning" href="/AdminPanel/Pages/Edit/@item.PageID" data-toggle="bottom" title="ویرایش"><i class="glyphicon glyphicon-edit"></i></a> |
                <a class="btn btn-sm btn-danger" onclick="DeletePage(@item.PageID)" data-toggle="bottom" title="حذف"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
    }

</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body" id="myModalBody">

            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                </div>*@
        </div>
    </div>
</div>
<!--End Modal -->

@section scripts{
    <script src="~/Scripts/modal.js"></script>
    <script type="text/javascript">
        function DeletePage(id) {
            $.get("/AdminPanel/Pages/Delete/" + id, function (result) {
                $("#myModal").modal();
                $("#myModalLabel").html("حذف");
                $("#myModalBody").html(result);
            });
        }
    </script>

}